html {
	background: -webkit-linear-gradient(left, grey, white, white, white, grey); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, grey, white, white, white, grey); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, grey, white, white, white, grey); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, grey, white, white, white, grey); /* Standard syntax */
}

body {
	margin-left: 20%;
	margin-right: 20%;
	padding-left:20px;
	padding-right:20px;
	margin-top:0px;
	padding-top:0px;
	font-family:"Verdana";
	background-color: #FFFFFF;
}

h1 {
	text-align: center;
}

img {
	padding: 10px;
}

#canvas_cont {
   width: 100%;
   text-align:center;
}

.gasket_app {
	display:inline;
	border:5px solid #000000;
}

.param {
	margin-left:auto;
	margin-right:auto;
	width:60%;
}

.instructions {
	margin-left:auto;
	margin-right:auto;
	width:80%;
}

.slider {
	width: 100%;
	border: 5px
}

.eq {
	padding: 10px;
	margin-left: 10%;
}

.thm {
	padding: 30px;
}

footer {
	margin-left: 10%;
	margin-right: 10%;
	font-family:"Verdana";
	font-size:12px;
}

a {
	text-decoration:none;
	color:black;
}

figcaption {
	font-size:12px;
	text-align: center;
}
